@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
  animation: zoomIn;
  animation-duration: 2s;
}

.animation-crew {
  animation: fadeInLeft;
  animation-duration: 1s;
}

.animation-technology {
  animation: backInDown 1s;

  @media screen and (max-width: 1023px) {
    animation: backInRight 1s;
  }
}
