@tailwind base;
@tailwind components;
@tailwind utilities;

.destination-image {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: orbit;
  animation-timeline: auto;
  animation-range-start: normal;
}

.animation {
  animation: zoomIn;
  animation-duration: 2s;
}
